@import 'variables';

@mixin container_display(
    $display: flex, 
    $flow: column, 
    $align: center,
    $justify: center,
    $width: 100%
    ) {
        display: $display;
        flex-flow: $flow;
        align-items: $align;
        justify-content: $justify;
        width: $width;
        box-sizing: border-box;
    }

@mixin breakpoint($size: $sm) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin linkButton(
    $bColor: $primary_color, 
    $fColor: $ascent_color, 
    $margin: 0 10px, 
    $radius: 4px
    ) {
        cursor: pointer;
        margin: $margin;
        border-radius: $radius;
        font-size: 18px;
        padding: 3px;
        user-select: none;

        &:active {
            background-color: darken($bColor, 8%);
        }

        &:hover {
            background-color: darken($bColor, 4%);
        }

        &:focus {
            outline: none;
        }
    }

@mixin btn-style($bColor: $primary_color,
    $fColor: $background_color,
    $wButton: 100%
    ) {
        background-color: $bColor;
        color: $fColor;
        border-radius: 4px;
        width: $wButton;
        border-style: none;
        cursor: pointer;
        outline: none;
        user-select: none;
        @content;

        &:hover {
            background-color: darken($bColor, 4%);
        }

        &:active {
            background-color: darken($bColor, 8%);
        }
    }

@mixin slideIn($time: 0.3s, $distance: 100%) {
    .slideIn-enter-active {
        transition: transform $time;
    }

    .slideIn-leave-active {
        transition: transform $time;
    }

    .slideIn-enter,
    .slideIn-leave-to {
        transform: translateX($distance);
    }
}